
### Unity ###
/[Ll]ibrary/
/[Tt]emp/
**/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/Built.meta
/Assets/AssetStoreTools*
/Assets/Plugins/External*
Assembly-CSharp*.csproj
/Logs/

.idea/

# files
*.DS_Store
*.pidb
*.unityproj
*.userprefs
*.pyc
*.orig
*.orig.meta
*.swp
*.swn
*.swo
*.vscode
*.sublime-project
*.sublime-workspace
*.userproperties
*GeneratedSettings.cs*
*.sln
build.xml
local.properties
proguard-project.txt
gen
xcuserdata
/Assets/Resources/Common
/Assets/Editor/AssetCache*

#generated dlls
**/bin/Editor*
**/bin/Debug*
**/bin/Internal*
**/bin/Release*
**/obj/Editor*
**/obj/Debug*
**/obj/Internal*
**/obj/Release*
**/built/*
**/generatorOutput/*
Assets/External.meta
Assets/External

#rider
/Assets/Plugins/Editor/JetBrains/*
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Editor.meta
*.DotSettings.user

#nuget

/packages